<div class="bottom-menu">
    <a href="../Vacancies/Vacancies.html" class="bottom-menu-item">
        <img src="../img/vacancies-bottom-menu.png" />
        <p>Вакансии</p>
    </a>
    <a href="/Offers/offers.html" class="bottom-menu-item">
        <img src="../img/offers-bot-menu.png" />
        <p style="color: rgb(0, 153, 255)">
            Офферы
        </p>
        <p style="color: rgb(0, 153, 255)">Платежек</p>
    </a>
    <a href="/PaySolutions/PaySolutions.html" class="bottom-menu-item">
        <img src="../img/paysolution-bot-menu.png" />
        <p>Платёжное</p>
        <p>решение</p>
    </a>
    <a href="../Profile/Profile.html" class="bottom-menu-item">
        <img src="../img/profile-avatar-bot-menu.png" />
        <p style="margin-bottom: 7px">Офферы от трейдеров</p>
    </a>
</div>